{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="renderer" content="webkit">
    {% block title %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
{% block content %}
    test
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>