{% extends 'blog/base.html' %}
{% load compress %}
{% load static %}
{% load hosts %}

{% block css %}
    {{ block.super }}
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    {% compress css %}
        <link href="{% static "blog/markdown/syntaxhighlighting.css" %}" rel="stylesheet">
        <link href="{% static 'blog/css/blog.scss' %}" type="text/x-scss" rel="stylesheet"/>
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container article_detail">
        <div class="article_title ">
            <h5>{{ article.title }}</h5>
        </div>
        <div class="article_info">
            <a>
                <i class="fa fa-calendar-minus-o" aria-hidden="true"> </i>{{ article.created_time }}
            </a>
            <a href="{% host_url 'category' article.category.id host 'blog' %}">
                <i class="fa fa-folder-o" aria-hidden="true"> </i>{{ article.category }}
            </a>
        </div>
        <div class="article_content" id="markdown-render">
        </div>
    </div>
    {% include 'blog/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script converter="markdown-render" type="text/plain">
{{ article.body|safe }}
    </script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static "blog/markdown/plugins.js" %}"></script>
    <script src="{% static "blog/markdown/highlight.js" %}"></script>
    <script src="{% static "blog/markdown/marked.js" %}"></script>
    <script src="{% static "blog/js/Converter.js" %}"></script>
{% endblock %}