{% load static %}
{% load compress %}
{% load hosts %}
<footer class="footer">
    <div class="container">
        <span>Copyright © 2017&nbsp;&nbsp;&nbsp;</span>
        <a href="//codeflitting.com"><span>Home</span></a>
        <span>|</span>
        <a href="//blog.codeflitting.com"><span>Blog</span></a>
        <span>|</span>
        <a href="//tools.codeflitting.com"><span>Tools</span></a>
        <span>&nbsp;&nbsp;&nbsp;京ICP备16035673号</span>
        {#        <a href="">站点地图</a>#}
    </div>
</footer>
