{% extends 'blog/base.html' %}
{% load static %}
{% load compress %}
{% load hosts %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    {% compress css %}
        <link href="{% static 'blog/css/blog.scss' %}" type="text/x-scss" rel="stylesheet"/>
    {% endcompress %}
{% endblock %}

{% block container %}
    <div class="container">
        {% include 'blog/header.html' %}
        <br>
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        Dapibus ac facilisis in
                        <span class="badge badge-default badge-pill">14</span>
                        >>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus >></a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac >></a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'blog/footer.html' %}
    {#    {{ block.super }}#}
{% endblock %}