{% extends 'blog/base.html' %}
{% load static %}
{% load compress %}
{% load hosts %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    {% compress css %}
        <link href="{% static 'blog/css/blog.scss' %}" type="text/x-scss" rel="stylesheet"/>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'blog/header.html' %}
        <br>
        <div class="article_list">
            {% for article in article_list %}
                <div class="row">
                    <div class="col-8 article_title">
                        <i class="fa fa-calendar" aria-hidden="true"> &nbsp;&nbsp;{{ article.created_time }}&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;</i>
                        <a href="{% host_url 'article' article.id host 'blog' %}">{{ article.title }}</a>
                    </div>
                    <div class="col-4 article_tag">
                        {% for tag in article.tags.all %}
                            <a href="{% host_url 'tag' tag.id host 'blog' %}">
                                <span class="badge badge-default badge-pill">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'blog/footer.html' %}
{% endblock %}